#posts::-webkit-scrollbar {
  width: 5px;
  /* Ancho del scrollbar */
  background-color: transparent;
  /* Color de fondo del scrollbar */
}

#posts::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* Color del thumb del scrollbar (invisible inicialmente) */
}